<h1>You have new email from Cornerstone Website</h1>

<h2>Contact Person</h2>
<p>
    <p><b>Name: </b><%= sanitize @name %></p>
    <p><b>Phone: </b><%= sanitize @phone %></p>
  	<p><b>Email: </b><%= sanitize @email %></p>
  	<p><b>Message: </b><%= sanitize @message %></p>
</p>
