<br />
<!-- Alert message -->
  <% if flash[:notice] %>
  <div class="alert alert-success col-md-10 md-auto">
      <button type="button" aria-hidden="true" class="close">×</button>
      <span><b> Success - </b><%= flash[:notice] %></span>
  </div>
  <% end %>
  <% if flash[:alert]%>
  <div class="alert alert-warning col-md-10 md-auto">
      <button type="button" aria-hidden="true" class="close">×</button>
      <span><b> Warning - </b> <%= flash[:alert] %></span>
  </div>
  <% end %>
<!-- End Alert Message-->

