<footer class="footer-demo">
    <div class="container">
        <div class="copyright pull-right">
            © 2019, In Chirst made with <i class="fa fa-heart heart red"></i> by RyanJeff
        </div>
    </div>
</footer>