<footer class="footer-demo">
    <div class="container">
        <div class="copyright pull-right">
            © <%= Date.today.year %> Cornerstone Baptist Church Netherlands
        </div>
    </div>
</footer>