<% @beliefs.each do |f| %>
  <h2><%= f.scriptures_title %></h2>
      <p>
        <%= sanitize f.scriptures_body %>
      </p>
<% end %>
<br />
<%= link_to "More details..", faith_index_path, class: 'btn btn-danger btn-fill' %>