<div class="container marginTop">
  <div class="tim-row center">
  <% @abouts.each do |a| %>
      <h1><%= a.title.humanize %></h1>
  </div>
  <div class="tim-row">
    <legend></legend>
      <p>
        <%= sanitize a.body %>
      </p>
  </div>
  <% end %>
  <br />
  <div class="tim-row">
    <%= render 'email/form'%>
  </div>
</div>