<div class="container marginTop">
  <div class="tim-row center">
      <h1><%= @titleAbout %></h1>
  </div>
  <div class="tim-row">
    <legend></legend>
      <p>
        <%= @about %>
      </p>
  </div>
  <br />
  <div class="tim-row">
    <%= render 'email/contact'%>
  </div>
</div>