<div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <div class="logo-image-small">
            <%# <img src="../assets/img/logo-small.png"> %>
          </div>
        </a>
        <a href="#" class="simple-text logo-normal">
          Admin
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="">
              <i class="fas fa-chart-line"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="./icons.html">
              <i class="fas fa-user-tie"></i>
              <p>Sermons</p>
            </a>
          </li>
          <li class="<%= 'active' if params[:controller] == 'admin/categories' %>">
            <%= link_to admin_categories_path, class: "nav-link" do %>
                <i class="fas fa-book"></i>
                <p>Categories</p>
            <% end %>
          </li>
          <li>
            <a href="./notifications.html">
              <i class="fas fa-bible"></i>
              <p>Belief</p>
            </a>
          </li>
          <li>
            <a href="./user.html">
              <i class="fas fa-map-marked-alt"></i>
              <p>Visit Us</p>
            </a>
          </li>
          <li>
            <a href="./tables.html">
              <i class="fas fa-users"></i>
              <p>User</p>
            </a>
          </li>
        </ul>
      </div>
    </div>